@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
  background: linear-gradient(
      rgba(30, 65, 1, 0.873),
      rgba(211, 3, 3, 0.719),
      rgba(30, 65, 1, 0.873)
    ),
    url(./assets/wide-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
