@tailwind base;
@tailwind components;
@tailwind utilities;

.notice {
  background: linear-gradient(
      to bottom right,
      rgba(148, 246, 182, 0.581),
      rgba(148, 246, 182, 0.581),
      rgba(244, 108, 108, 0.751)
    ),
    url(./assets/bell.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebarTitle {
  @apply font-bold bg-gradient-to-r from-green-200 via-green-200 to-red-200 py-3 px-2;
}
.myPrimaryBtn {
  @apply bg-red-500 rounded-md text-white hover:bg-green-600 border-none transition-all duration-300;
}
.mySecondaryBtn {
  @apply bg-green-600 rounded-md text-white hover:bg-red-600 border-none transition-all duration-300;
}

.items:hover .link-line {
  width: 150px;
}
.nav-title:hover .title-line {
  width: 100px;
}

/* Responsive */
@media (min-width: 1024px) {
  .nav-title:hover .title-line {
    width: 75%;
  }
  .lastItem {
    left: -100px !important;
  }
}
