@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
  background: linear-gradient(
      rgba(30, 65, 1, 0.873),
      rgba(211, 3, 3, 0.719),
      rgba(30, 65, 1, 0.873)
    ),
    url(./assets/wide-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.notice {
  background: linear-gradient(
      rgba(204, 243, 173, 0.807),
      rgba(240, 172, 172, 0.892),
      rgba(191, 235, 156, 0.807)
    ),
    url(./assets/bell.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebarTitle {
  @apply font-bold bg-gradient-to-r from-green-200 via-green-200 to-red-200 py-3 px-2;
}

.items:hover .div {
  width: 150px;
}
